<div class="home-container">
  <h1>Welcome to the Angular App</h1>
  <p>This is your starting point. Use the navigation above to explore. This uses <a href="https://jsonplaceholder.typicode.com/" target="_blank">JsonPlaceholder</a> for demo purposes.</p>

  <div class="card-grid">
    <div class="card" >
      <h2>Manage Users</h2>
      <p>View, edit, and manage all your users in one place.</p>
    </div>

    <div class="card" >
      <h2>Add User</h2>
      <p>Quickly add new users to your system.</p>
    </div>

  </div>
</div>
